:root {
  --font-color: #213547;
  --bg-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme = "dark"] {
  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  
  color: var(--font-color);
  background-color: var(--bg-color);
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  height: 74px;
  width: 74px;
}

.menu-iteam {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

button {
  font-weight: bold;
  margin: 7px 2px;
  height: 30px;
  width: 38px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f8a917;
  color: #ffffff;
}

.counter {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 80px;
  font-weight: bold;
  border-radius: 11px;
  height: 16px;
  width: 16px;
  background-color: #f8a917;
  color: #ffffff;
}

.minus {
  background-color: #fb472c;
}

.add {
  width: 70px;
}

.price {
  font-weight: bold;
}

.price::before {
  content: '\2022  ';
}

.title::after {
  content: '  ';
}