:root {
  --font-color: #213547;
  --bg-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme = "dark"] {
  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  
  color: var(--font-color);
  background-color: var(--bg-color);
}

.main-page {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  height: 78px;
  position: relative;
  line-height: 78px;
  width: 74px;
}

.iteam {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
  position: relative;
  width: 120px;
  height: 159px;
  padding: 4px 5px 21px;
  box-sizing: border-box;
  text-align: center;
}