:root {
  --font-color: #213547;
  --bg-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme = "dark"] {
  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  width: 1px;
  min-width: 100%;
  
  color: var(--font-color);
  background-color: var(--bg-color);
}

body.order-mode .menu-iteam {
  max-height: 0 !important;
  opacity: 0 !important;
}

.main-page {
  transition: .15s ease;
}

.menu-iteam {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 480px;
  justify-content: space-around;
  align-content: flex-end;
  transition: max-height .3s ease, opacity .3s ease;
}

.photo {
  position: relative;
  height: 78px;
}

.label {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 500;
}

.price {
  font-weight: 700;
  white-space: nowrap;
}

button,
.counter {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 16px;
  height: 30px;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: #f8a917;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  border: none;
}

.counter {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 22px;
  height: 22px;
  padding: 2px 6px;
  margin: 4px 6px;
  border-radius: 11px;
  transform: scale3d(0, 0, 1);
  animation: .15s ease both;
  pointer-events: none;
  z-index: 3;
}